{% extends "/home/base.html" %}
{% block title %}
    <title>Про нас</title>
{% endblock %}
{% block content %}
<style>
  .container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .section {
    flex-basis: calc(33.33% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .section-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .highlight {
    background-color: #ffcc00;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: bold;
  }

  .img-img {
    max-width: 10%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .img-gram{
      max-width: 40%;
  }
  @media (max-width: 768px) {
        .section {
            width: 90%;
        }
        .img-gram {
            max-width: 100%
        }
         .flex-gram {
            display: block;
        }
    }
   @media (min-width: 768px) {
        .flex-gram {
            display: flex;
        }
       .p-gram {
           margin-left: 10px;
           margin-right: 10px;
           margin-top: 10px;
       }
    }



</style>
<body>
  <div class="container-contact">
    <div class="section">
        <img class="img-img" src="/static/logo.png" style="width: 100%",alt="Placeholder Image">
        <h2 class="section-title">Вас вітає логістична компанія <span class="highlight">Aspor Logistic!</span> </h2>
        <p>Ми не перші і не останні в цьому напрямку послуг, але точно зможемо зацікавити кожного клієнта співвідношенням ціна-якість-обслуговування.</p>
        <p>Гарантований супровід клієнта на всіх етапах взаємодії, починаючи з першого дзвінка та навіть після отримання вантажу.</p>
        <p>Підтримка 24/7, гарантоване та дбайливе ставлення до Вас та Вашого товару.</p>
    </div>

    <div  class="section">
        <img class="img-img" src="/static/img/statistic.png" alt="Placeholder Image">
        <h2 class="section-title">Трохи нашої статистики:</h2>
        <ul class="statistics-list">
            <li>На ринку логістики та продажу з <span class="highlight">2014</span> року, створюємо товари ТМ <span class="highlight">ASPOR</span> з <span class="highlight">2016</span> року</li>
            <li><span class="highlight">50+</span> фахівців сприяють розвитку нашої компанії в Україні!</li>
            <li style="list-style-type: none">Маємо власні представництва в найбільших областних центрах України <span class="highlight"> (Київ, Харків, Одеса, Львів, Херсон, Дніпро, Хмельницкий та Запоріжжя)</span></li>
            <li style="list-style-type: none">Нами створено вже <span class="highlight">1000+</span> товарів, які необхідні та незамінні  в сучасному та динамічному житті кожної людини</li>
            <li style="list-style-type: none">Відвантажуємо до <span class="highlight">50</span> контейнерів за рік</li>
            <li style="list-style-type: none">Маємо <span class="highlight">судовихід</span> кожні <span class="highlight">7-10</span> днів доставки вантажу сполучення Китай-Україна</li>
        </ul>
        <p>В нас власне виробництво у Китаї, своя мережа товарів, свої агенти у Китаї та Україні, свій склад та надійні партнери в сфері вантажного транспорту та логістики.</p>
    </div>




      <div class="section">
          <h2 class="section-title">Морально-етичні принципи компанії та керівництва:</h2>
            <p>На першому місці будь-якого нашого співробітника компанії – увага до деталей.</p>
            <p><span class="highlight">Задоволений клієнт – успіх компанії!</span> Задоволений співробітник – правильно та якісно зроблена робота.</p>
            <p>Маємо власне виробництво у Китаї, знаємо як створити, масштабувати, погрузити, доставити та відслідкувати транспортування товару та документів.</p>
            <p>Ми робимо ставку на людяність і в нас все виходить! Котролюємо кожен крок та відповідальні за кожну доставку, ми цінуємо швидкість та якість.</p>

    </div>

    <div class="section">

        <p> Aspor Logistic - це велика сім'я, до якої запрошуємо Вас як клієнтів, майбутніх партнерів і розраховуємо не лише на одне замовлення, а на довгострокову тривалу та прибуткову взаємодію!
          Ми усвідомлюємо, що довіра та надійність є основоположними принципами успішної співпраці, тому ми завжди прагнемо пропонувати вам високоякісний сервіс. Кожен член нашої команди професіоналів щиро піклується про ваш успіх, і ми пишаємося своєю репутацією компанії, яка ставить інтереси клієнта понад усе.
          В Aspor Logistic ми надаємо широкий спектр логістичних послуг, включаючи міжнародні перевезення, складування, митне оформлення та багато іншого. Наші фахівці мають багатий досвід і використовують новітні технології, щоб забезпечити своєчасне та безпечне переміщення ваших вантажів.
          Ми розуміємо, що кожен клієнт має унікальні потреби, тому ми пропонуємо індивідуальні рішення, адаптовані до ваших вимог. Ця увага до деталей і персоналізований підхід дають нам змогу створювати оптимальні умови для зростання та розвитку вашого бізнесу.
          Наша мета - стати вашим надійним партнером на довгі роки. Ми впевнені, що завдяки спільним зусиллям ми зможемо досягти нових висот і реалізувати найамбітніші проекти. Aspor Logistic завжди відкрита для нових ідей та інновацій, і ми готові підтримувати вас на кожному етапі вашого шляху.
          Приєднуйтесь до Aspor Logistic і відчуйте всі переваги співпраці з лідером у галузі логістики. Разом ми зможемо забезпечити стабільний і стійкий успіх вашого бізнесу!</p>
    </div>
     <div class="section">
          <div class="flex-gram">
                <img class="img-gram" src="/static/img/1.jpg" alt="Placeholder Image">
                <p class="p-gram"><strong>Наша торгова марка офіційно зареєстрована в Україні!</strong><br>
                <span class="highlight">Ліцензійний продукт</span>- це наша гордість та гарантія якості для Вас<br>
                Кожен продукт, який ми виробляємо, проходить тестування і вдосконалюється нашими фахівцями.<br>
                Ми цінуємо свою репутацію і робимо все для того, щоб Ви залишилися задоволеними та користувалися нашою продукцією із задоволенням. Ваш комфорт та безпека, наша чесність та офіційна діяльність на підтримку України.</p>
          </div>
    </div>
  </div>

{% endblock %}