{% extends "/home/base.html" %}
{% block title %}
    <title>Контакти</title>
{% endblock %}
{% block content %}
  <h1 style="text-align: center; margin-top: 30px; color: #264891"><strong>Контакти</strong></h1>
  <div class="container">
        <div class="contact-info-con">
            <div class="contact-info-section">
                <h2 class="section-title">Зворотній зв’язок (Україна)</h2>
                <p class="address">
                    🏦 Одеса<br>
                    м. Одеса, Грецька площа 3/4, ТЦ Афіна, офіс №109 (1 поверх)
                </p>
                <p class="phone">
                    📱 Водафон: +38(050)-3233-123<br>
                </p>
                <p class="email">
                    📧 Email: logistic-ua@aspor.ua
                </p>
            </div>

<!--             <div class="contact-info-section">
                <h2 class="section-title">Зворотній зв’язок (Китай)</h2>
                <p class="address">
                    🏦 Guangzhou<br>
                    Guangzhou Baiyun District Xicha Road Hengfeng Street 68, Hongsheng International Plaza D107<br>
                    广州市白云区西槎路恒丰街68号鸿盛国际广场D107室
                </p>
                <p class="contact-person">
                    👷 ОДЕРЖУВАЧ 郭立峰
                </p>
                <p class="phone">
                    📱 Телефон 1: 13822185908<br>
                    📱 Телефон 2: 13929580777
                </p>
                <p class="email">
                    📧 Email: logistic-cn@aspor.ua
                </p>
            </div> -->
        </div>
    </div>

{% endblock %}
