{% extends "/home/base.html" %}
{% block title %}
    <title>ASPOR Logistic</title>
<meta name="robots" content="INDEX, FOLLOW">
<link rel="canonical" href="https://asporlogistic.com.ua/">
<link rel="alternate" hreflang="ru" href="https://asporlogistic.com.ua/ru/">
<link rel="alternate" hreflang="uk" href="https://asporlogistic.com.ua/">
{% endblock %}
{% block content %}
<div class="hero">
    <div class="video-container">
        <video id="myVideo" autoplay playsinline muted loop>
            <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
        <div class="container">
            <h1 style="color: whitesmoke; font-size: 46px!important; line-height: 49px!important; text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);" class="display-4">
                Доставка вантажу<br>з Китаю до України
            </h1>
            <p style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);font-size: 20px" class="m-0 d-none d-lg-block ml-3">45-60 днів, тариф від 350$</p>
            <a id="bot1" class="btn btn-lg link-animated" href="javascript:void(0)" onclick="scrollToForm()">Дізнатись вартість</a>
            
        <!-- Кнопка для открытия модального окна -->
        <a id="openModalBtn" class="btn btn-lg link-animated" href="javascript:void(0)" style="border-radius: 50px; display: inline-flex; align-items: center; justify-content: center; gap: 10px;">
            <img src="/static/img/video-lesson.png" alt="Іконка" style="width: 20px; height: 20px;">
            Про нашу компанію
        </a>
        
            <!-- Модальное окно -->
            <div id="videoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <video id="videoPlayer" controls autoplay>
                        <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
                        Ваш браузер не поддерживает видео.
                    </video>
                </div>
            </div>  
        </div>
</div>


<div class="reviews-section" style="border-radius: 30px; background-color: rgba(230, 245, 255, 0.5);">
    <div class="reviews-title-container">
        <div class="reviews-title">Відгуки наших клієнтів</div>
    </div>
    
    <div class="swiper-container">
        <!-- Навигационные стрелки над видео -->
        <div class="swiper-buttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-wrapper">
            {% for row in rows[0] %}
            <div class="swiper-slide">
                <div class="video-youtube fade-in">
                    <iframe src="{{ row[2] }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



<div class="fade-in"><p class="fade-in" style="text-align: center; margin-top: 30px; margin-bottom: 30px; font-size: x-large; margin-left: 10%; margin-right: 10%">
    Aspor Logistic – це лише один з напрямів діяльності нашої компанії. У Вас є унікальна можливість не просто доставити готові товари з Китаю до України з нашою допомогою, але й СТВОРИТИ СВІЙ ПРОДУКТ на діючому виробництві під нашим брендом. Не потрібно починати все з нуля. Наш багаторічний досвід та розуміння механізмів китайського ринку дасть швидкий старт Вашої ідеї. Примножити прибуток, залучитись підтримкою надійного партнера на світовому ринку, втілити свою мрію. Довіра, підтримка, якість – головні критерії Aspor Україна.
</p>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="special-heading text-center">
                <h1 class="section_header">
                    <span style="margin-top: 40px" class=" regular">
                        Наші переваги
                    </span>
                </h1>
            </div>
        </div>
        <div class="row fade-in">
            <div class="col-md-6" style="border-radius: 30px; background-color: rgba(230, 245, 255, 0.5);">
                <div class="why" style="margin-top: 20px">
                    <div class="why_inner">
                        <a class="why_col">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='autonomous.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large"><strong>Власне виробництво у Китаї</strong></div>
                                <div class="why_col__name">Що може бути важливіше надійного партнерства у бізнесі? Ми готові стати Вашою опорою у створенні бажаного товару. З 2015 року наша фабрика виготовляє якісну електроніку китайського виробника ASPOR. На сьогодні масштаби компанії - 10 торгівельних точок по Україні з номенклатурою більше ніж 2000 одиниць. Нарощуємо темпи та збільшуємо асортимент, ми відкриті до Ваших мрій та опираючись на досвід готові впровадити Вашу ідею в життя.  </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="why">
                    <div class="why_inner">
                        <a class="why_col why_col__reverse">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='help-desk.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large";><strong>Повний супровід заказу з урахуванням індивідуальних побажань</strong></div>
                                <div class="why_col__name">Aspor Logistic – це комплексний підхід до замовлення клієнта з застосуванням всього спектру послуг від Aspor Україна. Ми  допоможемо у вирішенні Вашого питання на будь-якому етапі. Будь-то просто доставка або повноцінний цикл організації створення та транспортування необхідного товару сполученням Китай-Україна.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="why">
                    <div class="why_inner">
                        <a class="why_col">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='magnifier.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large;"><strong>Пошук товарів та перевірка якості на виробництві в Китаї</strong></div>
                                <div class="why_col__name">Наша українсько-китайська команда забезпечує автоматизацію всіх процесів від створення до транспортування в двох країнах. Кожний співробітник компетентний в своїй галузі. Ми надаємо додаткову можливість перевірки придбаного Вами товару у Китаї. Можемо забезпечити дистанційний пошук необхідної продукції під Ваш запит.</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="why">
                    <div class="why_inner">
                        <a class="why_col why_col__reverse">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='guarantee.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large;"><strong>Гарантована цілісність товару при транспортуванні</strong></div>
                                <div class="why_col__name">Ефективне забезпечення організації руху Вашого товару – головна ціль Aspor Logistic. Відповідальність перед клієнтом за результат несе кожен співробітник і компанія працює як злагоджений механізм</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="why">
                    <div class="why_inner">
                        <a class="why_col">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='chatbot.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large"><strong>Зручне відстеження статусу вантажу в Telegram Bot</strong></div>
                                <button class="tgbutt" onclick="redirectToTelegram()">TELEGRAM BOT</button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="why">
                    <div class="why_inner">
                        <a class="why_col why_col__reverse">
                            <div class="why_col__img">
                                <img class="lazy-load" src="{{ url_for('static', filename='shipping.png') }}" alt="text-icons">
                            </div>
                            <div class="why_col__content">
                                <div class="why_col__name" style="font-size: x-large;"><strong>Щотижневий вихід судна з порту</strong></div>
                                <div class="why_col__name">Показником стабільності та перспективи довгострокової взаємодії в напрямку логістики морем є регулярність рейсів суден. Наші судна завантажуються кожен тиждень і Ви точно будете впевнені, що Ваш товар буде доставлений в обумовлений термін.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="info-block" style="display: flex; align-items: flex-start;">
                <img src="/static/img/calc.jpg" alt="Розрахунок вартості" style="max-width: 100px; margin-right: 30px;border-radius: 50px">
                <div>
                    <h3>РОЗРАХУЄМО <br> ВАРТІСТЬ <br> ПЕРЕВЕЗЕННЯ</h3>
                    <p>✔️ Розробимо оптимальний маршрут</p>
                    <p>✔️ Підберемо найвигідніший тариф</p>
                    <p>✔️ Організуємо швидку та безпечну доставку вантажу</p>
                </div>
            </div>
                       
            <div class="form-block">
                <form id="form-block-form">
                    <div class="form-group">
                        <label for="form-category">Категорія товара</label>
                        <select class="form-control" id="form-category" name="form-category">
                            <option value="Електротовари" selected="selected">Електротовари, мобільні аксесуари</option>
                            <option value="Обладнання">Обладнання, станки</option>
                            <option value="Текстиль">Текстиль, взуття</option>
                            <option value="Авто / вело">Авто / вело / мото запчастини</option>
                            <option value="Товари госп. признач.">Товари господарського призначення</option>
                            <option value="Тканини">Тканини</option>
                            <option value="Інше">Інше</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="form-message">Вага і об'єм (з пакуванням)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="kg-input" name="kg-input" placeholder="кг" style="max-width: 100px;">
                            <div class="input-group-append">
                                <span class="input-group-text" id="divider">/</span>
                            </div>
                            <input type="text" class="form-control" id="m3-input" name="m3-input" placeholder="м³" style="max-width: 100px;">
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="form-phone">Телефон</label>
                        <input type="tel" class="form-control" id="form-phone" name="form-phone" inputmode="tel" placeholder="+380"
                        autocomplete="tel" pattern="\+380[0-9]{9}">
                    </div>
        
                    <div class="form-group">
                        <label for="form-email">Email</label>
                        <input type="email" class="form-control" id="form-email" name="form-email" placeholder="mailname@mail.com">
                    </div>
        
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="submitForm1()">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container1">
            <div class="partner-section">
                <div class="trust-block">
                    <img src="/static/img/partner.jpg" alt="Партнеры" class="partner-logo">
                    <span>Наші партнери нам довіряють</span>
                </div>
                
                <div class="logo-block">
                    <div class="logo-container">
                         <div class="logo-item"><img src="/static/logo/mobile.png" alt="Логотип 1"></div>
                                <div class="logo-item"><img src="/static/logo/4you.png" alt="Логотип 2"></div>
                                <div class="logo-item"><img src="/static/logo/logo_opti2.png" alt="Логотип 3"></div>
                                <div class="logo-item"><img src="/static/logo/avantis.jpg" alt="Логотип 4"></div>
                                <div class="logo-item"><img src="/static/logo/mo.png" alt="Логотип 5"></div>
                                <div class="logo-item"><img src="/static/logo/new.png" alt="Логотип 6"></div>
                                <div class="logo-item"><img src="/static/logo/mobydick.png" alt="Логотип 7"></div>
                                <div class="logo-item"><img src="/static/logo/1.jpg" alt="Логотип 8"></div>
                                <div class="logo-item"><img src="/static/logo/aspor.jpg" alt="Логотип 9"></div>
                                <div class="logo-item"><img src="/static/logo/SmartCase.png" alt="Логотип 10"></div>
                                <div class="logo-item"><img src="/static/logo/AM.jpg" alt="Логотип 6"></div>
                                <div class="logo-item"><img src="/static/logo/exclusive.jpg" alt="Логотип 7"></div>
                                <div class="logo-item"><img src="/static/logo/1.jpg" alt="Логотип 8"></div>
                                <div class="logo-item"><img src="/static/logo/aspor.jpg" alt="Логотип 9"></div>
                                <div class="logo-item"><img src="" alt="Логотип 10"></div>
                        <!-- Добавьте больше логотипов, если необходимо -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Форма "Ответим на все ваши вопросы" -->
        <div class="form-container" style="display: flex; gap: 20px; background: rgba(230, 245, 255, 0.5); border-radius: 30px; padding: 20px;">
            <!-- Левый блок -->
            <div style="flex: 1;">
                <!-- Картинка и заголовок -->
                <div class="info-block" style="display: flex; align-items: flex-start; gap: 10px; background: rgba(230, 245, 255, 0.5);">
                    <img src="/static/img/icontel.png" alt="Ваше изображение" class="info-image">
                    <div class="info-text">
                        <h3 >Відповімо на всі ваші запитання</h3>
                    </div>
                </div>
                <!-- Блок с галочками -->
                <div class="info-block" style="margin-top: 10px; background: rgba(230, 245, 255, 0.5);">
                    <div class="info-text">
                        <p>✔️ Проконсультуємо з усіх питань</p>
                        <p>✔️ Надамо детальну інформацію</p>
                        <p>✔️ Допоможемо обрати найкраще рішення</p>
                    </div>
                </div>
            </div>
        
            <!-- Правый блок с формой -->
            <div class="form-block-contact" style="flex: 1;">
                <form id="contact-form">
                    <div class="form-group">
                        <label for="name">Ім'я <span class="required">*</span></label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Ваше Ім'я" required>
                    </div>
        
                    <div class="form-group">
                        <label for="phone">Номер телефону <span class="required">*</span></label>
                        <input type="tel" id="phone" name="phone" class="form-control" placeholder="Ваш номер телефону" required>
                    </div>
        
                    <div class="form-group">
                        <label for="message">Ваше питання</label>
                        <textarea id="message" name="message" class="form-control" placeholder="Ваш вопрос" rows="4"></textarea>
                    </div>
        
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" onclick="submitContactForm()">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="home-consultation__row">
            <div class="home-consultation__img aos-init aos-animate" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-out">
                <img src="/common-inc/img/wartime-logistics/ukraine.png" alt="">
            </div>
        </div>
    </div>
    <script>
        function redirectToTelegram() {
            window.location.href = "{{rows[1]}}";
        }

    </script>
{% endblock %}
