{% extends "/home/base.html" %}
{% block title %}
    <title>Послуги ASPOR Logistic</title>
{% endblock %}
{% block content %}
<style>
    p {
        font-size: 20px;
    }
</style>
<div class="custom-container">
    <div class="custom-services-section custom-section">
        <h2 class="custom-section-title"><strong>Наші послуги:</strong></h2>
        <div class="custom-services-grid">
            <div class="custom-service-item">
                <img src="/static/magnifier.png">
                <p>Пошук обраного вантажу у надійних постачальників</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/tablet.png">
                <p>Контроль якості обраного товару у постачальника</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/delivery.png">
                <p>Транспортування вантажу постачальник-склад Aspor у Китаї</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/warehouse.png">
                <p>Сберігання та пакування обраного товару</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/shipping.png">
                <p>Експедування вантажу до України</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/deliveryua.png">
                <p>Транспортування розмитненого вантажу сполученням порт-склад Aspor в Україні</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/guarantee.png">
                <p>Гарантія безпеки та цілісності обраного товару на всьому етапі логістичного ланцюжка між країнами Китай-Україна</p>
            </div>
            <div class="custom-service-item">
                <img src="/static/help-desk.png">
                <p>Повний супровід клієнта на всіх етапах експедування вантажу міжнародного сполучення Китай-Україна</p>
            </div>
        </div>
    </div>

    <div class="custom-additional-services-section custom-section">
        <h2 class="custom-section-title"><strong>Додаткові послуги:</strong></h2>
        <div class="custom-additional-services-grid">
            <div class="custom-additional-service-item">
                <img src="/static/factorychina.png" alt="Додаткова послуга 1">
                <p>Можливість замовлення товару нашого виробництва в Китаї</p>
            </div>
            <div class="custom-additional-service-item">
                <img src="/static/autonomous.png" alt="Додаткова послуга 2">
                <p>Можливість створення власного продукту під нашим брендом</p>
            </div>
        </div>
    </div>

    <div class="custom-contact-info-section custom-section">
        <p>Безумовно, ми розуміємо всі складнощі та нюанси, пов'язані з логістикою та замовленням товарів з Китаю в напрямку міжнародного сполучення Китай-Україна. Наші компетентні менеджери завжди готові надати Вам вичерпну інформацію, необхідну для успішного і своєчасного отримання замовлених товарів. Наша головна мета - зробити процес максимально зручним і ефективним для Вас, забезпечивши практично безшовну інтеграцію ланцюга поставок.
            Ми пропонуємо повний спектр послуг, починаючи з вибору надійних постачальників у Китаї, контролю якості продукції, консолідації вантажів на складах і закінчуючи доставкою до дверей одержувача в Україні. Кожен етап ми контролюємо з особливою увагою, адже нам важливо надавати тільки якісний сервіс і підтримувати високий рівень довіри наших клієнтів.
            Наші фахівці володіють актуальною інформацією про митні процедури, вимоги та регуляції як з боку Китаю, так і з боку України. Ми організуємо весь процес від оформлення документів до проходження митного контролю, що дає змогу уникнути несподіваних затримок і додаткових витрат.
            Індивідуальний підхід до кожного замовлення і клієнта - ось що виділяє нас серед інших. Ми підбираємо оптимальні рішення, враховуючи всі Ваші потреби, побажання і бюджет. Ви можете бути впевнені, що наш досвід і професіоналізм гарантують безперебійну роботу за Вашими замовленнями.
            Ми обов'язково будемо Вам корисні, адже наша робота ґрунтується на довірі та прагненні до досконалості. Ви можете зв'язатися з нами в будь-який зручний для Вас час, щоб обговорити деталі та отримати консультацію з питань, що цікавлять. Ваш успіх - наша головна мотивація і мета.</p>
    </div>
</div>

{% endblock %}
